h1{
    color: lightseagreen;
}
p{
    border: solid;
}
.header{
    background-color: black;
    
    display: flex;
    justify-content: space-between;
}
.MyGames{
    color: blanchedalmond;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.socialmedia{

    display: flex;
    justify-content:  flex-end;
}